In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [33]:
train_df = pd.read_csv(r'C:\Users\ramya\Downloads\train.csv')

In [34]:
train_df

           col1        col2  output
0    -38.366669  113.000000       1
1    -39.818572  123.943369       1
2    -55.638240  114.551862       1
3    -36.378005   95.616515       1
4    -39.366669  112.000000       1
...         ...         ...     ...
1273  -7.017043    3.026211       0
1274   5.633331    5.000000       0
1275 -13.501376  -12.774656       0
1276 -13.451631    0.015515       0
1277  18.634295   -6.581324       0

[1278 rows x 3 columns]

In [35]:
train_df.shape

(1278, 3)

In [36]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1278 entries, 0 to 1277
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    1278 non-null   float64
 1   col2    1278 non-null   float64
 2   output  1278 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 30.1 KB

In [37]:
# Data-preprocessing: Standardizing the data

from sklearn.preprocessing import StandardScaler
standardized_train_df = StandardScaler().fit_transform(train_df)
print(standardized_train_df.shape)

(1278, 3)

In [38]:
target = train_df['output']
data =train_df.drop("output",axis=1)

In [39]:
y_train = train_df['output']
X_train= train_df.drop("output",axis=1)

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(standardized_train_df, 
                                                   target, 
                                                   test_size = 0.20, 
                                                   random_state = 0)

In [41]:
print(X_train.shape)
print(y_train.shape)
print(y_test.shape)
print(y_test.shape)

(1022, 3)
(1022,)
(256,)
(256,)

In [42]:
from sklearn.preprocessing import StandardScaler
standardized_data = StandardScaler().fit_transform(X_train)
print(standardized_data.shape)

(1022, 3)

In [43]:
X_train

array([[-1.78774969, -0.03943595,  0.81224397],
       [-0.82295841, -1.60845476,  0.81224397],
       [-0.21177518, -1.5815221 ,  0.81224397],
       ...,
       [ 0.60730733, -0.3681336 , -1.23115719],
       [-0.39090449,  1.75780099,  0.81224397],
       [-0.18537326, -1.60506552,  0.81224397]])

In [44]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

LogisticRegression()

In [45]:
y_pred = classifier.predict(X_test)

In [46]:
# calculate accuracy of class predictions
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred)

1.0

# SVM-linear

In [24]:
from sklearn.svm import SVC
classifier = SVC(kernel ='linear')
classifier.fit(X_train, y_train)

SVC(kernel='linear')

In [47]:
y_pred = classifier.predict(X_test)

In [48]:
# calculate accuracy of class predictions
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred)

1.0

# SVM-RBF

In [49]:
from sklearn.svm import SVC
classifier = SVC(kernel ='rbf')
classifier.fit(X_train, y_train)

SVC()

In [50]:
y_pred = classifier.predict(X_test)

In [51]:
# calculate accuracy of class predictions
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred)

1.0

# pickle

In [56]:
from pickle import dump
dump(standardized_data,open(r'C:\Users\ramya\Desktop\deploy_hack\web_app2\pickle.pkl','wb'))
dump(classifier,open(r'C:\Users\ramya\Desktop\deploy_hack\web_app2\dump.pkl','wb'))